*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    flex-direction: column;
    color: rgb(71, 143, 202);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.list {
    margin-left: 20px;
}

form{
    display: flex;
    margin-left:20px;
    width: 300px;
    flex-direction: column;
}

button:hover{
    cursor: pointer;
    background-color: red;
}

form input, form button{
    padding: 0.5rem;
    border: transparent;
    border-bottom: black solid;
    background-color: rgb(255, 255, 255);
}
